@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --primary-color: #0056b3;
    --secondary-color: #e7f1ff;
    --accent-color: #00a8ff;
    --text-color: #333333;
    --bg-color: #f9f9f9;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.6;
}

header {
    background-color: var(--white);
    padding: 1rem;
    display: flex;
    justify-content: space-between; /* space between title and nav */
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

header h1 {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin: 0; /* reset margin since header is flex */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly; /* distribute links evenly */
    gap: 20px;
    padding: 0.5rem 0;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: var(--accent-color);
}

section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

section h2 {
    color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#about-me p {
    font-size: 1.1rem;
    color: #555;
}


button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 12px 24px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: color 0.3s ease;
}
button:hover{
    background-color: var(--accent-color);
    cursor: pointer;
}

#projects ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-items: stretch;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: 500;
    color: var(--primary-color);
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    background-color: var(--secondary-color);
}

form button {
    margin-top: 10px;
    align-self: center;
    width: 50%;
}
